@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

/* Custom styles */

* {
  padding: 0;
  margin: 0;
}

body {
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: #fff;
  line-height: 1.5rem;
  font-size: 20px;
}

.container {
  padding: 45px 5%;
}

/* header */

.toolbar {
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

.nav-mobile {
  display: none;
}

/* Featured in */

.featured-in {
  background-color: #272a31;
  color: #fff;
}

.ul {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style-type: none;
}

/* Footer */

.nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 30%;
}

/*
  ========================================
  Home
  ========================================
*/

/* Section 1 */
  
.section1 {
  background: url(../images/home/background.jpg) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  padding: 20vh 5%;
}

.section1 h1,
.section1 h2 {
  color: #ec5242;
}

.section1 h1,
.date {
  font-weight: 700;
  font-size: 30px;
}

.section1 h1 {
  text-transform: uppercase;
  font-size: 50px;
  line-height: 1;
  margin: 2% 0;
}

.section1 h2 {
  font-weight: 300;
}

.description {
  border: 1px solid #fff;
  padding: 10px;
  background-color: #e7e8ea;
  font-size: 13px;
  margin-bottom: 2.5%;
}

.date {
  font-size: 20px;
}

/* Main Program */

.main-program {
  background: url(../images/home/black-background.jpeg) no-repeat;
  background-size: 100% 100%;
  color: #d3d3d3;
}

.main-program .flex {
  gap: 10px;
}

.grid-item {
  display: grid;
  grid-template-columns: 5% 23% 66%;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  align-items: center;
  border: none;
  background:rgba(116, 116, 116, 0.3);
  padding: 20px;
}

.grid-item h4 {
  color: #ec5242;
  font-size: 20px;
}

.icon {
  width: 100% !important;
  height: auto !important;
}

button {
  display: block;
  color: #d3d3d3;
  background-color: #ec5242;
  border: none;
  padding:4%;
  margin: 9% auto;
  margin-bottom: 0;
  width: 70%;
  font-size: 20px;
}

/* Speakers */
  
.speakers {
  color: #272a31;
}

h3 {
  text-align: center;
  font-size: 25px;
}

.line {
  background-color: #ec5242;
  width: 40px;
  margin: 10px auto;
  height: 1px;
  margin-bottom: 45px;
}

.author-descrip {
  color: #ec5242;
  font-style: italic;
  font-size: small;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.flex-item {
  display: flex;
  align-items: center;
  gap: 4%;
}

.flex-item p {
  font-size: 12px;
}

.flex-item img {
  width: 120px;
  height: 140px;
}

.speaker {
  width: 70%;
}

.grey-line {
  width: 25px;
  background-color: #d3d3d3;
  height: 1px;
  margin: 3px 0 6px;
}

/*
  ========================================
  About
  ========================================
*/

/* Section 1 About*/

.section1-about {
  padding-top: 75px;
  text-align: center;
}

.section1-about h1 {
  font-size: 30px;
  margin-bottom: 35px;
}

.section1-about .description {
  font-size: 13px;
}

.email {
  font-size: 11px;
  line-height: normal;
  margin-top: 30px;
}

.email a {
  display: block;
}

.email-hr {
  display: block;
  width: 140px;
  margin: auto;
}

/* Summit Logo */

.summit-logo {
  text-align: center;
  border: 1px solid #d3d3d3;
}

.summit-image {
  width: 100%;
  border: 1px solid #d3d3d3;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.summit-logo img {
  width: 50%;
  height: 200px;
}

.grey-line-about {
  margin: 15px auto;
  background-color: #ec5242;
}

.about-p {
  font-size: 15px;
}

/* Last Events */

.last-events {
  text-align: center;
}

.last-events-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 90%;
  margin: 35px auto 0;
}

.afest-events,
.univ-events {
  background-size: cover;
  height: 200px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d3d3d3;
}

.afest-events {
  background: linear-gradient(rgba(202, 0, 0, 0.705), rgba(219, 0, 0, 0.89)), url(../images/about/a-fest.png);
  margin: 35px auto 10px;
}

.univ-events {
  background: linear-gradient(rgba(202, 0, 0, 0.705), rgba(219, 0, 0, 0.89)), url(../images/about/mindvalley-university.jpg);
}

.year {
  font-size: 20px;
  font-weight: 700;
}

/*
  ========================================
  Media Query
  ========================================
*/

.section1 h1,
.date {
  width: 50%;
}

.description {
  width: 40%;
}
